* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8ee4af;
}

header {
    background-color: #379683;
    width: 100%;
}

/* hero style */
.hero {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photo {
    flex-direction: column;
}

.photo img {
    border-radius: 15px;
    max-width: 100%;
    height: 275px;
    width: 275px;
    object-fit: cover;
    margin: 20px auto 0px auto;
}